/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700,900&display=swap');

/* CSS VARS */

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --button-color: #cc9900;
    --transition-speed: 600ms;
    --scroll-track-color: #1e1e24;
    --scroll-thumb-color: #cc9900;
    --svg-hover-color: #cc9900;
  }

  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --button-color: #cc9900;
    --scroll-track-color: #1e1e24;
    --scroll-thumb-color: #cc9900;
    --svg-hover-color: #cc9900;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --button-color: #b6b6b6;
    --scroll-track-color: #ccc;
    --scroll-thumb-color: #888;
    --svg-hover-color: #555;
  }
  
  /* UNIVERSAL */

  body {
    color: var(--text-primary);
    overflow-x: hidden;
    background-color:var(--bg-primary);
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--scroll-track-color);
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--scroll-thumb-color);
  }

  button {
    width: auto;
    height: auto;
    padding: 0.5rem;
    margin: 1rem;
    outline: none;
    border: 6px solid var(--button-color);
    border-radius: 50%;
    background-color: var(--button-color);
    text-align: center;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.25), 0px 10px 10px 0px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: var(--transition-speed);
  }

  button:hover {   
    transform: scale(0.9, 0.9);
    box-shadow: none;
  }

  .button-icon {
    width: 25px;
    text-align: center;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 900;
  }
  
  main {
    margin: 5rem 0rem 5rem 5rem;
    text-align: center;
    padding: 4rem;
  }

  .title-container {
    margin-bottom: 5rem;
  }

  /* NAV */

  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: var(--transition-speed) ease;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.15);
    z-index: 9999;
    overflow: hidden;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    cursor: pointer;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  .nav-header {
      cursor: default;
  }
  
  .link-text {
    font-size: 14px;
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .svg-hover {
    color: var(--svg-hover-color);
    transition: var(--transition-speed);
  }
  
  .logo {
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text {
    font-size: 15px;
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }

  .navbar:hover {
    transition: var(--transition-speed);
    box-shadow: 0px 0px 22px 22px rgba(0,0,0,0.15), 0px 0px 22px 22px rgba(0,0,0,0.10);
  }

  .navbar:hover .logo svg {
    transform: rotate(-360deg);
  }

  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  /* TOGGLES */

  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }

  .active {
    display: block;
  }

  .flex {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .scroll {
    overflow-y: scroll;
  }

  /* ANIMATIONS */

  .fadeIn {
    animation: fadeIn 1s linear;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }  100% {
      opacity: 1;
    }
  }

  .grow {      
    position: absolute;
    animation: grow 1s;
  }

  @keyframes grow {
    0% {
      transform: scaleY(0);
    }  100% {
      transform: scaleY(1);
    }
  }

  .shrink {
    position: absolute;
    width: calc(100vw - 5rem);
    animation: shrink 1s;
  }

  @keyframes shrink {
    0% {
      transform: scaleY(1);
    }  100% {
      transform: scaleY(0);
    }
  }

  /* MEDIA QUERIES */

  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.15);
      transition: none;
    }

    .navbar:hover {
      transition: none;
      box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.15);
    }
  
    .logo {
      display: none;
    }

    #modal-container {
      width: 100vw;
      margin: 0;
    }

    .modal-content {
      padding-bottom: 10rem;
    }
      
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }

    button {
      margin: 0.3rem;
    }
  }
    
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
      {
        left: 0px;
      }
  }

  